NODE_ENV=development
PORT=4000

NOTION_TOKEN=secret_xxx
NOTION_LEADS_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_PROJECTS_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NOTION_INVOICES_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/xxx/xxx
